{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Список альбомов</h1>
    <ol id="gallery-list">
        {% for album in albums %}
        <li>
            <a href="/view/{{ album.name }}" title="{{ album.name }}">
                <img src="{{ album.uri }}/{{ album.name }}/{{ album.cover }}" alt="{{ album.name }}">
            </a>
            <h4 align="center">{{ album.name }}</h4>
        </li>
        {% endfor %}
    </ol>
{% endblock %}
